.container {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.input-group {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
h1{
    color:rgb(77, 4, 66);
}
form div label{
    color:rgb(32, 1, 66);
    font-size:1.2rem;
    padding-bottom:1rem;
    font-weight:bolder;
    font-family:verdana;
}
form div input{
    color:rgb(15, 6, 108);
    margin-top:1rem;
}
button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.uploaded-image img {
    margin-top: 20px;
    width: 300px;
    height:300px;
    border-radius: 10px;
    object-fit:cover;
}

@media (max-width: 768px){
    .body{
        max-height:100vh;
    }
    .container {
        text-align: center;
        width: 80%;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #f9f9f9;
    }
    .uploaded-image img {
        margin-top: 10px;
        width: 250px;
        height:250px;
        border-radius: 10px;
        object-fit:cover;
    }
}